<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Ravine Rumble Losers' Bracket</title>
</head>


<div class="bg-danger align-items-center pb-3">
    <h1 class="text-bg-danger pt-3 pb-3 text-center">Round 1</h1>
    <p style="text-align:center"><iframe src="{{ gif }}" width="240" height="240" allowFullScreen style="pointer-events: none;"></iframe></p>
</div>


<div class="container text-center mt-3">
    <div class="row align-items-start mb-5 mb-lg-3">
        <div class="row align-items-start">
            <div class="col-5">
                <h2>(7) Tim</h2>
                <h3><a href="https://football.fantasysports.yahoo.com/f1/447848/8" target="_blank">{{ tim['team_points'].total }}</a></h3>
                Projection: {{ tim['team_projected_points'].total }}<br>
                <img
                        src="{{ url_for('static', filename='tim.jpg') }}"
                        alt="nan"
                        class="w-75 pt-2"
                >
            </div>
            <div class="col-2">
                <h2>vs</h2>
            </div>
            <div class="col-5">
                <h2>Paul (8)</h2>
                <h3><a href="https://football.fantasysports.yahoo.com/f1/447848/4" target="_blank">{{ paul['team_points'].total }}</a></h3>
                Projection: {{ paul['team_projected_points'].total }}<br>
                <img
                        src="{{ url_for('static', filename='paul.jpg') }}"
                        alt="paul"
                        class="w-75 pt-2"
                >
            </div>
        </div>
    </div>
</div>

<div class="text-center text-bg-danger mt-2">
    Bigger losers waiting for next week: Bacon (9), Danzey (10), Keiron (11)
</div>
